<a href="https://colab.research.google.com/github/faryal-art/pratice_project-prediction-paintings-price-/blob/main/painting_price_prediction_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.Series([1,2,3,4,], index=["a","b","c","d"])
print(data)

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
dates = pd.date_range('20250101',periods=5)
df=pd.DataFrame( np.random.randn(5,3),columns=['A','B','C'], index=[dates])
print(df)

                   A         B         C
2025-01-01  0.518712 -0.206660 -0.783043
2025-01-02 -0.025788 -0.265870  0.018869
2025-01-03  0.182574 -0.926569 -1.432953
2025-01-04  0.782527 -0.584940  0.320501
2025-01-05 -0.091457  0.888582  0.604023

### experiment  project
A model for predicting prices of paintings
steps include
1. import libraries
2. create dataframe (temporary and completely random )
3. check its info , check if null values are present or not (preprocessing is not required as the dataset i created is simple and does not require preprocessing )
4. we move toward  prediction model
    1. in prediction model 1st import required libraries
    2. features for  training and testing is splited
    3. data is splited for training and testing
    4.  model training (model is fitted with training data)
    5.  prediction (model predict values/price based on training
    6. mean absolute error is calculated to see how far are predictions from actual values
    7. r2 score tells the accuracy (in the case of our model accuracy is negative because our dataset is not ideal as we generate it totally ramdomly so it has no pattren and thats why model failed to catch any pattern and failed to predict the price for painting accurately.
    8. we create a dataframe that contain 2 columns 1 for actual values of painting (actual price ) and 1 for prediction tht model has made

Step 1
importing libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

step 2
create a dataframe

In [ ]:
n=60
data =pd.DataFrame({

    "painting id": np.arange(1,n+1),
    "painting rating": np.random.randint(1,10,n ),
    "painting year": pd.date_range(start='1997', periods=n, freq="YE"),
    "height_cm": np.random.randint(10,200,n),
    "width_cm": np.random.randint(10,200,n),
    "estimated_price": np.random.randint(10000,500000,size=n)
})
display(data.head(10))

,painting id,painting rating,painting year,height_cm,width_cm,estimated_price
0,1,2,1997-12-31,146,99,91167
1,2,1,1998-12-31,127,167,95192
2,3,2,1999-12-31,66,30,244406
3,4,2,2000-12-31,99,196,268655
4,5,1,2001-12-31,136,107,395820
5,6,3,2002-12-31,126,29,225987
6,7,1,2003-12-31,168,14,359852
7,8,6,2004-12-31,39,137,335502
8,9,1,2005-12-31,117,40,63228
9,10,4,2006-12-31,33,103,380455

info about dataset

step 3
checking information about data

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   painting id      60 non-null     int64
 1   painting rating  60 non-null     int64
 2   painting year    60 non-null     datetime64[ns]
 3   height_cm        60 non-null     int64
 4   width_cm         60 non-null     int64
 5   estimated_price  60 non-null     int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 2.9 KB

step 4 : checking for null values

In [ ]:
data.isnull().sum()

painting id        0
painting rating    0
painting year      0
height_cm          0
width_cm           0
estimated_price    0
dtype: int64

step 5:
now work on  prediction model

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [ ]:
#setting features and target
x=data[['painting rating','height_cm','width_cm']]
y=data[['estimated_price']]
#split data for training and testing
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
#model training
model= LinearRegression()
model.fit(x_train,y_train)
#prediction
predictions= model.predict(x_test)

In [ ]:
#mean absolute error tell the diff between actual and predicted value
mae=mean_absolute_error(y_test,predictions)
r2 = r2_score(y_test, predictions)
print(" Mean Absolute Error:", round(mae, 2))
print(" R² Score (Accuracy):", round(r2, 4))

 Mean Absolute Error: 127414.76
 R² Score (Accuracy): -0.2538

In [ ]:
print("Shape of y_test.values:", y_test.values.shape)
print("Shape of predictions:", predictions.shape)

#  Compare actual vs predicted
comparison = pd.DataFrame({'Actual Price': y_test.values.flatten(), 'Predicted Price': predictions.flatten().astype(int)})
display(comparison.head())

In [ ]:
print("Shape of y_test.values:", y_test.values.shape)
print("Shape of predictions:", predictions.shape)
#  Compare actual vs predicted
comparison = pd.DataFrame({'Actual Price': y_test.values.flatten(), 'Predicted Price': predictions.flatten().astype(int)})
print(comparison.head())

Shape of y_test.values: (12, 1)
Shape of predictions: (12, 1)
   Actual Price  Predicted Price
0         91167           294066
1        225987           274937
2        167364           247157
3        474657           240755
4        155378           290821